{% load static %}

<html><head><title>nur ein test</title></head>
  <link href="{% static 'css/Responsive-Design.css' %}" rel="stylesheet" type="text/css">
<body>
    
    
<div class="header">
        <h1>D.O.R.I.S.</h1>
      </div>
      
      <div class="row">
        <div class="col-3 col-s-3 menu">
          <ul>
            <li>Artikel hinzuf&uuml;gen</li>
            <li>Artikel suchen / bearbeiten</li>
          </ul>
        </div>
      
        <div class="col-6 col-s-9">
          <h1>D.O.R.I.S.</h1>
          <p>Ein Inventarsystem, entwickelt f&uuml;r den THW L&uuml;neburg</p>
          <p>Dezentral<br>Operables<br>Ressourcen<br>Informations<br>System</p>
        </div>
      
        <div class="col-3 col-s-12">
          <div class="aside">
            <h2>Artikelkategorien</h2>
            <p>Hier kann man beispielsweise kategorien direkt auflisten <br>(bestes Beispiel w&auml;hren zum beispiel einzelne Teileinheiten aber die funktion ist nach Belieben anpassbar)</p>

            {% for cat in categorys %}
               <li>
               <a href="">
               {{ cat.catName }}
               </a>
               </li>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="footer">
        <p>Hier k&ouml;nnten beispielsweise Kontaktinformationen oder was auch immer hin, damit bei gr&ouml;&szlig;erer Verbreitung gleich ein Ansprechpartner zur Stelle ist.</p>
      </div>
      
</html>
